<%= link_to '&laquo;&nbsp;前'.html_safe, page: @page - 1 %>
<%= link_to '次&nbsp;&raquo;'.html_safe, page: @page + 1 %>

<table>
    <tr>
        <th>ID</th>
        <th>苗字</th>
        <th>名前</th>
        <% @parameters.each do | parameter | %>
        <th><%= parameter.label %></th>
        <% end %>
    </tr>
    <% @user_infos.each do | user_info | %>
    <tr>
        <td><%= user_info[:embody].id %></td>
        <td><%= user_info[:embody].first_name %></td>
        <td><%= user_info[:embody].last_name %></td>
        <% user_info[:parameters].each do | user_parameter | %>
        <td><%= user_parameter.parameter %></td>
        <% end %>
    </tr>
    <% end %>
</table>
